table, th, td{
    font-family: monospace;
    font-size: 1.5rem;
    border: 1px solid black;
    border-color: black;
}

body{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    background-color: rgb(180, 221, 161);
    font-family: monospace;
}